/*------------FONTS---------------*/


/*----------TYPOGRAPHY------------*/
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

/*------------General---------------*/
:root {
    /* CSS Variables */

}

code {
    background-color: #f2f2f2;
    padding: 0.2em;
}

.code-block {
    display: block;
    background-color: #f2f2f2;
    border: 0.15em solid #e2e2e2e2;    
    border-radius: 0.5em;
    padding: 0 1em;
    overflow-x: auto;
}
.code-block pre {
    margin: 0;
}

.code-keyword {
    color: #0101fd;
}

.code-title {
    color: #007d9a;
}

.code-string {
    color: #a31515;
}

.code-comment {
    color: #008000;
}


